@inherits LayoutComponentBase
@using TVGLPresenter.Services
@using Microsoft.FluentUI.AspNetCore.Components
@inject ThemeService ThemeService
@implements IDisposable

<FluentDesignTheme Mode="@ThemeService.CurrentMode" />

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    protected override void OnInitialized()
    {
        ThemeService.OnThemeChanged += OnThemeChanged;
    }

    private void OnThemeChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        ThemeService.OnThemeChanged -= OnThemeChanged;
    }
}
